# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -C cmd/goignore -v ./...
      
    - name: Test
      run: go test -C cmd/goignore -v ./...

    - name: Build and Archive
      run: make all archive
     # if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    - name: Upload Archives
      uses: actions/upload-artifact@v2
      with:
        name: goignore-executables
        path: _build/*/*.tar.gz,_build/*/*.zip
      #if: github.event_name == 'push' && github.ref == 'refs/heads/main'